
@font-face {
    font-family:"SemplicitaPro-Light";
    src:url("Semplicita_Pro_Light.woff2") format("woff2"),url("Semplicita_Pro_Light.woff") format("woff"),url("Semplicita_Pro_Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        