
@font-face {
    font-family:"SemplicitaPro-SemiBold";
    src:url("Semplicita_Pro_SemiBold.woff2") format("woff2"),url("Semplicita_Pro_SemiBold.woff") format("woff"),url("Semplicita_Pro_SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        