
@font-face {
    font-family:"SemplicitaPro-Medium";
    src:url("Semplicita_Pro_Medium.woff2") format("woff2"),url("Semplicita_Pro_Medium.woff") format("woff"),url("Semplicita_Pro_Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}

I want to make this

