
@font-face {
    font-family:"Troy Sans";
    src:url("Troy-Sans.woff2") format("woff2"),url("Troy-Sans.woff") format("woff"),url("Troy-Sans.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        